/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset */

.container{
	width: 1200px;
	margin: 0 auto;
}

.header{
	margin-top: 47px;
	border-bottom: 2px solid #000;
	padding-bottom: 17px;
}

.header h1{
	font-size: 80px;
	line-height: 94px;
}

.photo{
	padding-top: 48px;
	margin-bottom: 48px;
}

.profile{
	margin-bottom: 82px; 
}

.title{
	font-size: 32px;
	line-height: 45px;
	padding-bottom: 8px;
	border-bottom: 1px solid #000;
}

.titleEng{
	font-size: 24px;
	line-height: 45px;
	height: 45px;
	font-weight: bold;
	display:inline-block;
	vertical-align: middle;
}

.darkRed{
	color: #A00404;
}

.item{
	margin-top: 16px;
	font-size: 24px;
	line-height: 36px;
}

.mb-72{
	margin-bottom: 72px;
}

.mb-8{
	margin-bottom: 8px;
}

.mt-48{
	margin-top: 48px;
}

.pb-32{
	padding-bottom: 32px;
}

.pb-36{
	padding-bottom: 36px;
}

.pb-48{
	padding-bottom: 48px;
}

.pb-8{
	padding-bottom: 8px;
}

.pt-40{
	padding-top: 40px;
}

.pt-32{
	padding-top: 32px;
}

.ml-24{
	margin-left: 24px;
}

.pl-24{
	padding-left: 24px;
}

.db{
	display: block;
}

li{
	margin-bottom: 24px;
	font-size: 24px;
	line-height: 36px;
}

.skill{
	margin: 0 auto;
	text-align: center;
	background-color: #415165;
	color: #FFFFFF;
}

.skill h2{
	border-bottom: 1px solid #ffffff;
	width: 996px;
	margin: 0 auto;
	padding-top: 24px;
}

.skillList{
	width: 250px;
	margin: 0 auto;
}

.skillItem{
	text-align: left;
	border-left: 1px solid #96A9C4;
}

.workExperience{
	padding-bottom: 72px;
}

.workExperience li{
	font-size: 24px;
	line-height: 36px;
	width: 642px;
}

.leftLine{
	border-left: 1px solid #96A9C4;
}

.workExperience img{
	display: block;
	width: 90px;
	height: 90px;
}

.workExperience p{
	font-size: 20px;
	line-height: 30px;
}

.contact{
	margin: 0 auto;
	text-align: center;
	background-color: #415165;
	color: #FFFFFF;
}

.contact h2{
	border-bottom: 1px solid #ffffff;
	padding-top: 24px;
}

.contact img{
	display: inline-block;
}